@font-face {
    font-family: 'Dear Pix';
    src: url(assets/fonts/dearpix-1-94.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #155e95;
    color: #fdf8e8;
    font-family: 'Dear Pix', monospace;
    text-align: center;
    overflow-x: hidden;
}

.bg-fixed-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -5;
    pointer-events: none;
}

.bg-video-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.section-top {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    border-bottom: 8px solid white;
}

.section-bottom {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-bottom: 80px;
}

.nav-bar {
    background-color: rgb(240, 247, 249, 0.4);
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 4px 0px #0f4c75;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.proverb {
    flex: 1;
    text-align: left;
    font-family: 'Dear Pix';
    font-size: 19px;
    color: rgb(84, 135, 182);
    font-weight: bold;
    padding: 20px 0px 20px 20px;
    text-shadow: 1px 1px 0px white;
}

.logo {
    text-align: center;
    font-size: 50px;
    color: rgb(70, 127, 181);
    padding: 0px 0px;
    font-weight: bold;
    text-shadow: 3px 3px 0px #fdf8e8;
}

.sign-in {
    flex: 1;
    text-align: right;
    font-size: 20px;
    color: rgb(84, 135, 182);
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 20px 20px 0px;
    text-shadow: 1px 1px 0px white;
}

.sign-in:hover {
    color: #c83e28;
    text-shadow: 1px 1px 0px #fdf8e8;
    transform: translate(0.2px, 0.2px);
}

.banner {
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin: 50px 20px 100px 0px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.tmp {
    flex: 1;
}

.login-banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    justify-content: center;
    gap: 15px;
}

.login-banner input {
    outline: none;
    width: 80%;
    padding: 15px;
    font-family: 'Dear Pix';
    border: 0px solid gray;
    border-radius: 30px;
    font-size: 20px;
    max-width: 50%;
    background-color: white;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #afafaf;
    font-size: 16px;
}

.login-button {
    outline: none;
    background-color: black;
    border: 0px solid #c83e28;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Dear Pix';
    font-size: 20px;
    color: white;
    margin-top: 10px;
    transition: 0.1s;
}

.login-button:active {
    transform: translate(2px, 2px);
    background-color: #fdf8e8;
    color: #c83e28;
    text-shadow: 0.5px 0.5px 2px black;
}

.bottom-content {
    justify-content: space-between;
    display: flex;
    gap: 30px;
    padding: 50px 30px;
    max-width: 80%;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    box-shadow: 2px 2px 0px #b0c8d8;
    border: 4px solid #70a1ff;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    max-width: 60%;
}

.i-1 img,
.i-2 img,
.i-3 img {
    max-height: 180px;
    margin-bottom: 15px;
}

.i-1,
.i-2,
.i-3 {
    line-height: 1.5;
    font-size: 18px;
    color: #155e95;
    flex: 1;
}

footer {
    background-color: rgb(240, 247, 249, 0.4);
    display: flex;
    align-items: center;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    gap: 10px;
    box-shadow: 0px -2px 0px #0f4c75;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 17px;
    color: rgb(84, 135, 182);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 1px 1px 0px white;
}

.today,
.wind-lvl,
.forecast {
    flex: 1;
    margin: 0;
}

.i-1 p,
.i-2 p,
.i-3 p {
    text-align: center;
    font-size: 20px;
}

.i-title {
    font-size: 30px;
}