body {
    background-color: #155e95;
    color: #fdf8e8;
    font-family: monospace;
    text-align: center;
}
.footer-text {
    margin-top: 30px;
}
.navbar {
    display: flex;
    background-color: #0f4c75;
    border-bottom: 5px solid #d0e8f2;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.logo {
    color: #f5c546;
    font-family: 'Press Start 2P';
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Press Start 2P';
}

.menu a {
    text-decoration: none;
    color: #d0e8f2;
    transition: 0.2s;
    font-size: 12px;
    font-weight: bold;
}

.menu a:hover {
    color: #f5c546;
}

.hero {
    display: flex;
    gap: 80px;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #f5c546;
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: 'Press Start 2P';
    text-shadow: 4px 4px 0px #c83e28;
}

.herocontent {
    text-align: left;
    max-width: 500px;
}

.game-board {
    background-color: #000000;
    border: 4px solid #d0e8f2;
    padding: 40px;
    width: 600px;
    text-align: center;
    box-shadow: 10px 10px 0px #c83e28;
    font-family: 'Press Start 2P';
    align-content: center;
}

input {
    padding: 18px;
    border: 4px solid #0f4c75;
    background-color: #c0e2fb;
    color: #c83e28;
    font-family: 'Dear Pix', monospace;
    width: 60%;
    margin-right: 10px;
    outline: none;
    font-size: 20px;
}

input::placeholder {
    color: #8ab6d6;
}

button {
    padding: 15px 30px;
    font-family: inherit;
    background-color: #f5c546;
    color: #c83e28;
    border: 4px solid #fff;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 0px #c83e28;
    transition: 0.1s;
}

button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
    background-color: #fff;
    border: 4px solid #f5c546;
}

.quest-list {
    margin-top: 30px;
    background-color: #1a1a1a;
    border: 4px solid #d0e8f2;
    padding: 20px 15px;
    list-style: none;
    text-align: left;
    max-width: 100%;
}

.quest-list li {
    border-bottom: 2px dashed #555;
}

.quest-list li p {
    color: #fdf8e8;
    font-family: 'Dear Pix', monospace;
    font-size: 20px;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.2s;
}

.monsterQst:hover {
    color: #c83e28;
    text-decoration: line-through;
    transform: scale(1.2);
    transform-origin: left;
}

.freeMsg p {
    color: #7ba038;
    text-align: center;
    font-size: 20px;
    border: 2px dashed #7ba038;
    padding: 10px;
    margin-top: 10px;
    animation: blink 1s infinite;
}

.hub-box {
    background-color: #000;
    border: 4px solid #fff;
    padding: 10px 30px;
    color: #f5c546;
    box-shadow: 4px 4px 0px #7ba038;
    font-family: 'Press Start 2P', cursive;
}

.hub-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.footer {
    font-size: 10px;
    color: #d0e8f2;
    border-top: 4px dashed #d0e8f2;
    margin-top: 50px;
    padding: 30px;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
        margin: 0 auto;
    }

    .hero {
        flex-direction: column;
    }

    .herocontent {
        text-align: center;
        max-width: 100%;
    }

    .game-board {
        max-width: 400px;
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-size: 20px;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .hub-content {
        flex-direction: row;
    }

    input::placeholder {
        font-size: 20px;
    }
}

@font-face {
    font-family: 'Dear Pix';
    src: url(assets/fonts/dearpix-1-94.otf);
}

/* Reset button */
.reset-place {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.reset-warning {
    margin-top: 10px;
    color: #c83e28;
    text-align: right;
}

.reset-button {
    padding: 10px 20px;
    font-size: 10px;
    font-family: 'Press Start 2P';
    text-align: left;
}