/*body
back color: #2d2b55
text color: trắng
font name: monospace
text align: middle*/
body {
    background-color: #2d2b55;
    color: white;
    font-family: monospace;
    text-align: center;
}

/*game-board
back: black
border: white 4px liền
pad: 40px so với các box khác
width: 600px chiều rộng cố định của board
text align: middle
box-shadow: dài rộng 10, không nhoè, màu #4f46e5*/
/*h1
text: yellow
kích cỡ chữ: 24px
lề dưới: 40px
chiều cao dòng: 1,5*/
.game-board {
    background-color: black;
    border: 4px solid white;
    padding: 40px;
    width: 600px;
    text-align: center;
    box-shadow: 10px 10px 0px #4f46e5;
    font-family: 'Press Start 2P';
    align-content: center;
}

h1 {
    color: yellow;
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: 'Press Start 2P';
}

/*
input
padding: 15px toàn bộ
viền: 4 dày fff
nền: trong suốt
chữ: trắng inherit
rộng: 60%
cách nút bấm (bên phải) 10px
không viền xanh

button
padding trên dưới 15px trái phải 30px
font: inherit
nền #ffce47
viền dày 4 liền fff
khi di chuột vào thì hoá thành ngón trỏ
chữ nặng
bóng ngang 4 dọc 4 không mờ màu đen
thời gian chuyển động 1s

animation nút khi bị chuột chạm vào
dịch  chuyển khoảng 2px về bên phải và 2px xuống dưới
bóng thu nhỏ lại còn 2px 2px không mờ, màu đen
*/
input {
    padding: 18px;
    border: 4px solid #fff;
    background-color: transparent;
    color: white;
    font-family: inherit;
    width: 60%;
    margin-right: 10px;
    outline: none;
    font-size: 9px;
}

button {
    padding: 15px 30px;
    font-family: inherit;
    background-color: #ffce47;
    border: 4px solid #fff;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 0px #000;
    transition: 0.1s;
}

button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
}

.navbar {
    display: flex;
    background-color: black;
    border-bottom: 5px solid #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.logo {
    font-family: 'Press Start 2P';
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Press Start 2P';
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-size: 12px;
    font-weight: bold;

}

.menu a:hover {
    color: #ffce47;
}

.hero {
    display: flex;
    gap: 80px;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

.herocontent {
    text-align: left;
    max-width: 500px;
}

.footer {
    font-size: 10px;
    color: gray;
    border-top: 4px dashed white;
    margin-top: 50px;
    padding: 30px;
}

.quest-list {
    margin-top: 30px;
    background-color: black;
    border: 4px solid white;
    padding: 20px 15px;
    list-style: none;
    text-align: left;
    max-width: 100%;
}

.quest-list li p {
    overflow-wrap: break-word;
    color: #0f0;
    font-family: VT323, monospace;
    font-size: 17px;
    padding: 0px 0px;

    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.quest-list li {
    border-bottom: 2px dashed gray;
}

.monsterQst:hover {
    text-decoration: line-through;
    color: red;
    transform: scale(1.2);
    transform-origin: left;
}

.freeMsg p {
    text-align: center;
    font-size: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        transform: scale(1.1);
    }
}

@keyframes tick {
    50% {
        opacity: 0.5;
    }
}

.hub-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    gap: 20px;
}

.hub-box {
    border: 4px solid white;
    padding: 10px 30px;
    color: #ffce47;
    box-shadow: 4px 4px 0px #4f46e5;
    font: 'Press Start 2P', cursive;
}