body {
    background-color: #2d2b55;
    color: white;
    font-family: monospace;
    text-align: center;
}
.game-board {
    background-color: black;
    border: 4px solid white;
    padding: 40px;
    width: 600px;
    text-align: center;
    box-shadow: 10px 10px 0px #4f46e5;
    font-family: 'Press Start 2P';
    align-content: center;
}

h1 {
    color: yellow;
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: 'Press Start 2P';
}
input {
    padding: 18px;
    border: 4px solid #fff;
    background-color: transparent;
    color: white;
    font-family: 'Dear Pix';
    width: 60%;
    margin-right: 10px;
    outline: none;
    font-size: 20px;
}

button {
    padding: 15px 30px;
    font-family: inherit;
    background-color: #ffce47;
    border: 4px solid #fff;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 0px #000;
    transition: 0.1s;
}

button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #000;
}

.navbar {
    display: flex;
    background-color: black;
    border-bottom: 5px solid #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.logo {
    font-family: 'Press Start 2P';
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Press Start 2P';
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    font-size: 12px;
    font-weight: bold;

}

.menu a:hover {
    color: #ffce47;
}

.hero {
    display: flex;
    gap: 80px;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

.herocontent {
    text-align: left;
    max-width: 500px;
}

.footer {
    font-size: 10px;
    color: gray;
    border-top: 4px dashed white;
    margin-top: 50px;
    padding: 30px;
}

.quest-list {
    margin-top: 30px;
    background-color: black;
    border: 4px solid white;
    padding: 20px 15px;
    list-style: none;
    text-align: left;
    max-width: 100%;
}

.quest-list li p {
    overflow-wrap: break-word;
    color: #0f0;
    font-family: VT323, monospace;
    font-size: 17px;
    padding: 0px 0px;

    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.quest-list li {
    border-bottom: 2px dashed gray;
}

.monsterQst:hover {
    text-decoration: line-through;
    color: red;
    transform: scale(1.2);
    transform-origin: left;
}

.freeMsg p {
    text-align: center;
    font-size: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        transform: scale(1.1);
    }
}

@keyframes tick {
    50% {
        opacity: 0.5;
    }
}

.hub-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    gap: 20px;
}

.hub-box {
    border: 4px solid white;
    padding: 10px 30px;
    color: #ffce47;
    box-shadow: 4px 4px 0px #4f46e5;
    font: 'Press Start 2P', cursive;
}

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }
    .hero {
        flex-direction: column;
    }
    .herocontent {
        text-align: center;
        max-width: 100%;
    }
    .game-board {
        max-width: 400px;
        width: 90%;
        padding: 10px;
        margin: 0 auto;
    }
    h1 {
        font-size: 20px;
    }
}
@font-face {
    font-family: 'Dear Pix';
    src: url(assets/fonts/dearpix-1-94.otf);
}